<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "ItemList",
        "itemListElement": [
            {{ $length := len .Data.Pages }}
            {{ range $index, $element := .Data.Pages }}
            {
                "@type": "ListItem",
                {{ $position :=add $index 1 }}
                "position": {{ $position }},
                "url": "{{ $element.Permalink }}"
            }
            {{ if ne $position $length }}
            ,
            {{ end }}
            {{ end }}
        ]
    }
</script>
